.burger-button {
	width: 48px;
	height: 48px;

	border: none;
	border-radius: var(--border-radius);

	background: none;

	position: relative;

	&:hover {
		background-color: var(--color-primary-400);
	}

	&:active {
		background: var(--color-primary-300);
	}

	// Создание центральной полоски
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;

		width: 50%;
		height: 2px;

		background-color: var(--color-white);
		border-radius: 32px;

		// Создание полосок сверху и снизу
		box-shadow: 0 -8px var(--color-white), 0 8px var(--color-white);
	}
}
