.header {
	&__inner {
		padding: 1rem;
		@include center(false, space-between, 0);

		> a {
			@include center(false, space-between, 0.5rem);

			font-weight: 700;
		}
	}

	&__menu {
		&-list {
			@include center(false, space-between, 0);

			column-gap: 1rem;
		}

		&-link {
			@include center(true, center, 1rem);

			padding: 0.5rem 1rem;

			@include tablet {
				padding: 0 1.25rem;
			}

			transition-duration: var(--transition-duration);

			// С классом active
			&.active {
				color: var(--color-primary-500);
			}

			&:hover {
				color: var(--color-primary-400);
			}

			&:active {
				color: var(--color-primary-300);
			}
		}
	}
}
