@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* .roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
} */

:root {
	--color-dark: #0a0a0a;
	--color-dark-gray: #242625;
	--color-light-gray: #8f8f8f;
	--color-white: #ffffff;
	--color-accent: #0077ff;
	--color-accent-gradient: linear-gradient(90deg, rgba(10, 232, 248, 1) 0%, rgba(0, 119, 255, 1) 100%);

	--border-radius: 1rem;
	--border: 1px solid inherit;

	--font-family-base: 'Roboto', sans-serif;

	--container-width: 1200px;
	--container-padding-x: 1rem;

	--section-padding-y: 5rem;

	--transition-duration: 0.2s;
}
